@charset "UTF-8";
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  font-family: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", sans-serif;
}

main {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.startingContainer {
  width: 300px;
  margin: 10px auto;
  height: 220px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.95);
          transform: translate(-50%, -50%) scale(0.95);
  background-color: #fff;
  z-index: 2;
  visibility: visible;
  -webkit-transition: .3s;
  transition: .3s;
}

.startingContainer .orderButton {
  width: 200px;
  margin: 0 auto 10px;
  padding: 5px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.startingContainer .buttonLabel {
  text-align: center;
  margin-top: 15px;
}

.startingContainer .starting {
  text-align: center;
  font-size: 43px;
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.startingContainer .starting.active {
  opacity: 1;
  visibility: visible;
}

.startingContainer .gameStart {
  width: 200px;
  margin: 0 auto 10px;
  padding: 5px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.startingContainer .gameStart.active {
  opacity: 1;
  visibility: visible;
}

.startingContainer.negative {
  opacity: 0;
  visibility: hidden;
  top: 80%;
}

.startingMask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  opacity: .7;
  visibility: visible;
  -webkit-transition: .3s;
  transition: .3s;
}

.startingMask.negative {
  opacity: 0;
  visibility: hidden;
}

.titleWrapper {
  width: 65%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.titleWrapper .title {
  font-size: 45px;
}

.titleWrapper .ver,
.titleWrapper .developer {
  margin-top: 15px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 270px;
  margin: 40px auto 0;
}

.box {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.box:hover {
  background-color: #eee;
}

.nextButton {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nextButton .away,
.nextButton .home {
  width: 130px;
  font-size: 20px;
}

.nextButton .away {
  color: red;
}

.nextButton .home.hide {
  display: none;
}

.nextButton .away.hide {
  display: none;
}

.modalOpen,
.modalClose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 40px;
  background-color: blue;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}

.modalClose {
  margin: 30px auto 0;
}

.modal {
  position: fixed;
  top: -15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.95);
          transform: translate(-50%, -50%) scale(0.95);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  min-width: 500px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  max-height: 80vh;
  overflow: auto;
}

@media (max-width: 500px) {
  .modal {
    min-width: 0;
    width: 95%;
  }
}

.modal.active {
  top: 85%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.modal p {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.modal .loser {
  color: red;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.mask.active {
  opacity: .7;
  visibility: visible;
}

.tweet {
  position: fixed;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 40px;
  z-index: 2;
}

.tweet:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */